@import url(reset.css);

.page {
  height: 1300px;
  background-image: url(https://c1.staticflickr.com/6/5173/5436446554_9244788c36_b.jpg);
  position: relative;
}

.rocket {
  background-image: url(https://www.freeiconspng.com/uploads/rocket-ship-png-1.png);
  background-size: contain;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  left: 47%;
  top: 550px;
  /*transition: all 2s ease-in-out;*/
}
/*.rocket:hover {
  transform: translate(0, -700px);
}*/
.mars {
	background-image: url(http://pngimg.com/uploads/mars_planet/mars_planet_PNG11.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 300px;
}

.venus {
	background-image: url(https://www.pngrepo.com/download/285152/planet.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 200px;
 }

 .earth {
 	background-image: url(https://pics.freeicons.io/uploads/icons/png/68863564516354197474526-512.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 250px;
 }

.jupiter {
	background-image: url(https://cdn3.iconfinder.com/data/icons/planets-1/512/Jupiter-256.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 350px;
}

.saturn {
	background-image: url(https://pics.freeicons.io/uploads/icons/png/658891991637258735-512.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 400px;
}

.uran {
	background-image: url(https://cdn3.iconfinder.com/data/icons/planets-1/512/Neptune-256.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 450px;
}


.mercury {
	background-image: url(https://cdn3.iconfinder.com/data/icons/planets-1/512/Mercury-256.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 150px;
}

.sun {
	background-image: url(https://pics.freeicons.io/uploads/icons/png/4941766021637258773-512.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
}

.neptun {
	background-image: url(https://cdn2.iconfinder.com/data/icons/solar_system_png/512/Neptune.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	background-position: center;
	position: fixed;
	left: 45%;
	top: 500px;
}